<a href="https://colab.research.google.com/github/guyfrancis/dat1001/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Pandas is a Python library that includes a useful datastructure type called 'dataframe' as well as associated code that help manipulate and analyze data.
Dataframes are good for storing and manipulating data in tabular form, with rows and columns.

Let's start by importing the pandas library.
We will then create a dictionary containing information about certain people and we will use pandas to convert it to a dataframe.

In [13]:
import pandas as pd
import numpy as np

my_dict = { "Name": ["Bob", "Charlie", "Elise"], "Age": [32, 47, 25], "Height (ft)": [5.9, 6.0, 5.2]}

df = pd.DataFrame(my_dict)

df.head()

      Name  Age  Height (ft)
0      Bob   32          5.9
1  Charlie   47          6.0
2    Elise   25          5.2

## DataFrame Operations

Now that we have the data stored in a dataframe, we can perform a number of operations.

You can reference a column by using the column header.

In [14]:
# Reference the column 'Age'
print(df['Age'])

0    32
1    47
2    25
Name: Age, dtype: int64

You can reference a particular table value with the **iloc** method, giving the numerical value of the row and column

In [15]:
# Print the entry in first row (row 0) and second column (column 1) of the data frame
print(df.iloc[0, 1])

32

In [16]:
# You can also use iloc to get a whole row
print(df.iloc[1])

Name           Charlie
Age                 47
Height (ft)        6.0
Name: 1, dtype: object

In [17]:
# The describe method gives some summary information about the data
df.describe()

             Age  Height (ft)
count   3.000000      3.00000
mean   34.666667      5.70000
std    11.239810      0.43589
min    25.000000      5.20000
25%    28.500000      5.55000
50%    32.000000      5.90000
75%    39.500000      5.95000
max    47.000000      6.00000

In [18]:
# The shape property tells you how many rows and columns are in the data
df.shape

(3, 3)

In [19]:
# We can also get the number of rows and columns from the shape property
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 3
Number of columns: 3

# Modifying data
We can add or remove rows and columns and modify the data in particular locations. We can also make changes based on conditions.

We'll do the following with this example data:

1) We'll add a column called "Over 40" and we will set it to 'Yes' if the person is over 40.
2) We'll change the title of the 'name' column to 'first name'
3) We will change Bob's height to 5.8 ft

In [20]:
# Create a new column called 'Over 40' with default value '-'
df['Over 40']='-'
df

      Name  Age  Height (ft) Over 40
0      Bob   32          5.9       -
1  Charlie   47          6.0       -
2    Elise   25          5.2       -

In [21]:
# Rename 'Name' column to 'First Name'
df.rename(columns={'Name':"First Name"})

  First Name  Age  Height (ft) Over 40
0        Bob   32          5.9       -
1    Charlie   47          6.0       -
2      Elise   25          5.2       -

In [22]:
# Change Bob's height to 5.8
# His height is in row 0 column 2
# We will use the iloc(row, col) method
df.iloc[0, 2] = 5.8
df

      Name  Age  Height (ft) Over 40
0      Bob   32          5.8       -
1  Charlie   47          6.0       -
2    Elise   25          5.2       -

In [24]:
# Finally we will update the 'Over 40' column so that it says 'Yes' if the person is over 40 and 'No' otherwise.
df['Over 40'] = np.where(df['Age'] > 40, 'Yes', 'No')
df

      Name  Age  Height (ft) Over 40
0      Bob   32          5.8      No
1  Charlie   47          6.0     Yes
2    Elise   25          5.2      No

# Reading Data from a Webpage

We can also use pandas to grab tabular data from webpages. To do this, we first have to import the **requests** library so we can make an http request to grab a webpage.

Before we make the web request, navigate to the webpage by clicking on the link below so that you can see what the webpage looks like.

https://worldpopulationreview.com/country-rankings/coffee-producing-countries

You should see a page that includes a table of countries with their coffee production.

Before we make the http request, we need to set the http header to include information about where the request is coming from. Websites may otherwise block requests.

In [58]:
# Import the requests library for making http requests
import requests as r
# Create a header that says the request is coming form a browser-like agent.
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36',
}

In [59]:
# Make an http request to get the webpage with the following url
url = "https://worldpopulationreview.com/country-rankings/coffee-producing-countries"
page = r.get(url, headers = headers)

In [60]:
# Check that the request was successful. If so, the status code should be 200.
page.status_code

200

In [61]:
# Print the first few hundred characters of the webpage
# The actual content of the page, which is HTML, is stored in the 'content' attribute of the page object
print(page.content[0:200])

b'<!DOCTYPE html><html lang="en"> <head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Coffee Producing Countries 2025</title><meta name="description" c'

Now we will use the pandas.read_html() method

In [62]:
# read_html() will find all the tables in the webpage and put them in a list.
tables = pd.read_html(page.content)
# In this case, there is only one table, so the length of the list should be 1.
len(tables)

1

Each table in the HTML page is converted into a dataframe in the tables list. As there is only one table, let's store it in a separate variable called cd (for coffee data).

In [63]:
# Store the one table as a dataframe in the variable cd
cd = tables[0]
# Check the type of this variable. It should say 'pandas.core.frame.DataFrame'
type(cd)

pandas.core.frame.DataFrame

In [64]:
# Let's look at the table
cd

,Unnamed: 0,Country,Coffee Production 2022 (t),Coffee Yield 2022
0,NaN,Brazil,3.2M,1694.3
1,NaN,Vietnam,2M,2979.0
2,NaN,Indonesia,794.8K,618.1
3,NaN,Colombia,665K,789.4
4,NaN,Ethiopia,496.2K,668.9
5,NaN,Uganda,393.9K,541.7
6,NaN,Peru,352.6K,832.0
7,NaN,India,338.6K,772.8
8,NaN,Honduras,315.5K,1221.3
9,NaN,Central African Republic,306.9K,403.2
10,NaN,Guinea,261.6K,394.1
11,NaN,Guatemala,225.5K,614.7
12,NaN,Mexico,181.7K,280.9
13,NaN,Laos,171K,1912.8
14,NaN,Nicaragua,170.2K,1041.4
15,NaN,China,108.9K,3353.7
16,NaN,Costa Rica,79.2K,845.3
17,NaN,Ivory Coast,70K,129.9
18,NaN,Tanzania,67.2K,254.9
19,NaN,DR Congo,58.8K,393.3
20,NaN,Philippines,58.3K,519.1
21,NaN,Venezuela,57.2K,356.4
22,NaN,Kenya,51.9K,474.4
23,NaN,Madagascar,50.3K,560.4
24,NaN,Papua New Guinea,40.8K,1058.1
25,NaN,Yemen,36.5K,943.2
26,NaN,El Salvador,30.7K,245.6
27,NaN,Cameroon,26.4K,468.5
28,NaN,Togo,25.1K,566.1
29,NaN,Bolivia,23.2K,895.4
30,NaN,Dominican Republic,20.6K,370.2
31,NaN,Rwanda,18.9K,479.6
32,NaN,Thailand,18.7K,575.9
33,NaN,Burundi,17.2K,910.1
34,NaN,Angola,16.8K,327.8
35,NaN,Timor-Leste,11.7K,511.7
36,NaN,Malawi,11K,2230.8
37,NaN,Myanmar,8.9K,702.7
38,NaN,Zambia,8.6K,1079.8
39,NaN,Jamaica,8.6K,802.6
40,NaN,Ecuador,8K,266.4
41,NaN,Panama,7.5K,450.3
42,NaN,Cuba,6.3K,330.7
43,NaN,Haiti,5.1K,514.6
44,NaN,Sri Lanka,4.8K,861.1
45,NaN,Equatorial Guinea,4.1K,367.3
46,NaN,Malaysia,3.8K,2653.1
47,NaN,Republic of the Congo,3.1K,305.1
48,NaN,Sierra Leone,2.6K,1601.0
49,NaN,United States,2.4K,847.2
50,NaN,Nigeria,1.9K,1298.8
51,NaN,Taiwan,886,828.5
52,NaN,Puerto Rico,843,334.5
53,NaN,Mozambique,816,982.1
54,NaN,Ghana,736,1600.0
55,NaN,Trinidad and Tobago,681,146.2
56,NaN,Zimbabwe,661,250.0
57,NaN,Liberia,654,239.9
58,NaN,Guyana,600,798.4
59,NaN,Cambodia,374,771.1
60,NaN,Dominica,370,883.9
61,NaN,Nepal,355,106.1
62,NaN,Paraguay,341,1276.7
63,NaN,Saint Vincent and the Grenadines,180,329.2
64,NaN,Comoros,141,142.2
65,NaN,Gabon,104,380.0
66,NaN,Belize,90,1256.6
67,NaN,Benin,55,194.5
68,NaN,Cape Verde,47,227.0
69,NaN,Vanuatu,36,611.7
70,NaN,French Polynesia,21,224.1
71,NaN,Tonga,15,1385.3
72,NaN,Fiji,14,639.1
73,NaN,Samoa,12,300.9
74,NaN,Sao Tome and Principe,8,58.5
75,NaN,Suriname,6,20.4
76,NaN,New Caledonia,2,137.5
77,NaN,Cook Islands,0,587.3
78,NaN,Total,10.8M,NaN

## Data Wrangling

We are now going to do some data 'wrangling' on the dataframe. Basically, we are going to fix some issues with the data as it present to make it easier to analyze.

You may notice there are some issues with these data:

1. There is a column full of 'NaN' which we should delete
2. Some of the column titles contain special characters which we don't need - we can rename the columns.
3. The coffee production column has a mixture of numbers and letters 3.2M means 3.2 million (tonnes) 794.8K mean 794.8 thousand (tonnes). We need to replace these with consistent numbers.

Firstly, we can change the column names.

In [65]:
# Rename the columns
cd.columns = ['Not used', 'Country', '2022 Production (tonnes)', '2022 Yield (kg/hectare)']
cd

,Not used,Country,2022 Production (tonnes),2022 Yield (kg/hectare)
0,NaN,Brazil,3.2M,1694.3
1,NaN,Vietnam,2M,2979.0
2,NaN,Indonesia,794.8K,618.1
3,NaN,Colombia,665K,789.4
4,NaN,Ethiopia,496.2K,668.9
5,NaN,Uganda,393.9K,541.7
6,NaN,Peru,352.6K,832.0
7,NaN,India,338.6K,772.8
8,NaN,Honduras,315.5K,1221.3
9,NaN,Central African Republic,306.9K,403.2
10,NaN,Guinea,261.6K,394.1
11,NaN,Guatemala,225.5K,614.7
12,NaN,Mexico,181.7K,280.9
13,NaN,Laos,171K,1912.8
14,NaN,Nicaragua,170.2K,1041.4
15,NaN,China,108.9K,3353.7
16,NaN,Costa Rica,79.2K,845.3
17,NaN,Ivory Coast,70K,129.9
18,NaN,Tanzania,67.2K,254.9
19,NaN,DR Congo,58.8K,393.3
20,NaN,Philippines,58.3K,519.1
21,NaN,Venezuela,57.2K,356.4
22,NaN,Kenya,51.9K,474.4
23,NaN,Madagascar,50.3K,560.4
24,NaN,Papua New Guinea,40.8K,1058.1
25,NaN,Yemen,36.5K,943.2
26,NaN,El Salvador,30.7K,245.6
27,NaN,Cameroon,26.4K,468.5
28,NaN,Togo,25.1K,566.1
29,NaN,Bolivia,23.2K,895.4
30,NaN,Dominican Republic,20.6K,370.2
31,NaN,Rwanda,18.9K,479.6
32,NaN,Thailand,18.7K,575.9
33,NaN,Burundi,17.2K,910.1
34,NaN,Angola,16.8K,327.8
35,NaN,Timor-Leste,11.7K,511.7
36,NaN,Malawi,11K,2230.8
37,NaN,Myanmar,8.9K,702.7
38,NaN,Zambia,8.6K,1079.8
39,NaN,Jamaica,8.6K,802.6
40,NaN,Ecuador,8K,266.4
41,NaN,Panama,7.5K,450.3
42,NaN,Cuba,6.3K,330.7
43,NaN,Haiti,5.1K,514.6
44,NaN,Sri Lanka,4.8K,861.1
45,NaN,Equatorial Guinea,4.1K,367.3
46,NaN,Malaysia,3.8K,2653.1
47,NaN,Republic of the Congo,3.1K,305.1
48,NaN,Sierra Leone,2.6K,1601.0
49,NaN,United States,2.4K,847.2
50,NaN,Nigeria,1.9K,1298.8
51,NaN,Taiwan,886,828.5
52,NaN,Puerto Rico,843,334.5
53,NaN,Mozambique,816,982.1
54,NaN,Ghana,736,1600.0
55,NaN,Trinidad and Tobago,681,146.2
56,NaN,Zimbabwe,661,250.0
57,NaN,Liberia,654,239.9
58,NaN,Guyana,600,798.4
59,NaN,Cambodia,374,771.1
60,NaN,Dominica,370,883.9
61,NaN,Nepal,355,106.1
62,NaN,Paraguay,341,1276.7
63,NaN,Saint Vincent and the Grenadines,180,329.2
64,NaN,Comoros,141,142.2
65,NaN,Gabon,104,380.0
66,NaN,Belize,90,1256.6
67,NaN,Benin,55,194.5
68,NaN,Cape Verde,47,227.0
69,NaN,Vanuatu,36,611.7
70,NaN,French Polynesia,21,224.1
71,NaN,Tonga,15,1385.3
72,NaN,Fiji,14,639.1
73,NaN,Samoa,12,300.9
74,NaN,Sao Tome and Principe,8,58.5
75,NaN,Suriname,6,20.4
76,NaN,New Caledonia,2,137.5
77,NaN,Cook Islands,0,587.3
78,NaN,Total,10.8M,NaN

In [44]:
# Drop column 1
cd = cd.drop(columns=['col1'])

In [45]:
cd.shape

(79, 3)

In [46]:
pd.set_option('display.max_rows', 79)

In [47]:
cd

,Country,2022 Production (tonnes),2022 Yield (kg/hectare)
0,Brazil,3.2M,1694.3
1,Vietnam,2M,2979.0
2,Indonesia,794.8K,618.1
3,Colombia,665K,789.4
4,Ethiopia,496.2K,668.9
5,Uganda,393.9K,541.7
6,Peru,352.6K,832.0
7,India,338.6K,772.8
8,Honduras,315.5K,1221.3
9,Central African Republic,306.9K,403.2
10,Guinea,261.6K,394.1
11,Guatemala,225.5K,614.7
12,Mexico,181.7K,280.9
13,Laos,171K,1912.8
14,Nicaragua,170.2K,1041.4
15,China,108.9K,3353.7
16,Costa Rica,79.2K,845.3
17,Ivory Coast,70K,129.9
18,Tanzania,67.2K,254.9
19,DR Congo,58.8K,393.3
20,Philippines,58.3K,519.1
21,Venezuela,57.2K,356.4
22,Kenya,51.9K,474.4
23,Madagascar,50.3K,560.4
24,Papua New Guinea,40.8K,1058.1
25,Yemen,36.5K,943.2
26,El Salvador,30.7K,245.6
27,Cameroon,26.4K,468.5
28,Togo,25.1K,566.1
29,Bolivia,23.2K,895.4
30,Dominican Republic,20.6K,370.2
31,Rwanda,18.9K,479.6
32,Thailand,18.7K,575.9
33,Burundi,17.2K,910.1
34,Angola,16.8K,327.8
35,Timor-Leste,11.7K,511.7
36,Malawi,11K,2230.8
37,Myanmar,8.9K,702.7
38,Zambia,8.6K,1079.8
39,Jamaica,8.6K,802.6
40,Ecuador,8K,266.4
41,Panama,7.5K,450.3
42,Cuba,6.3K,330.7
43,Haiti,5.1K,514.6
44,Sri Lanka,4.8K,861.1
45,Equatorial Guinea,4.1K,367.3
46,Malaysia,3.8K,2653.1
47,Republic of the Congo,3.1K,305.1
48,Sierra Leone,2.6K,1601.0
49,United States,2.4K,847.2
50,Nigeria,1.9K,1298.8
51,Taiwan,886,828.5
52,Puerto Rico,843,334.5
53,Mozambique,816,982.1
54,Ghana,736,1600.0
55,Trinidad and Tobago,681,146.2
56,Zimbabwe,661,250.0
57,Liberia,654,239.9
58,Guyana,600,798.4
59,Cambodia,374,771.1
60,Dominica,370,883.9
61,Nepal,355,106.1
62,Paraguay,341,1276.7
63,Saint Vincent and the Grenadines,180,329.2
64,Comoros,141,142.2
65,Gabon,104,380.0
66,Belize,90,1256.6
67,Benin,55,194.5
68,Cape Verde,47,227.0
69,Vanuatu,36,611.7
70,French Polynesia,21,224.1
71,Tonga,15,1385.3
72,Fiji,14,639.1
73,Samoa,12,300.9
74,Sao Tome and Principe,8,58.5
75,Suriname,6,20.4
76,New Caledonia,2,137.5
77,Cook Islands,0,587.3
78,Total,10.8M,NaN

In [49]:
for val in cd['2022 Production (tonnes)']:
  print(type(val))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>