# Python Data Structures

A data structure is something that stores combinations of fundamental data types. For example, it could be a list of numbers or a dictionary of key-value pairs. Data structures are really useful for storing and manipulating complex sets of data.

For example, if you wanted to store information about the location of an RTD train at a certain time, you might want to store:

- Train identifier
- Time and date
- longitude
- latitude

We've already seen one Python data structure: **string**. A string can be thought of as an array of individual characters. We'll start by playing with strings, before moving on to other data structures: tuples, lists, sets and dictionaries.

In [2]:
# This code creates a string stored in the variable example and then prints
# the length of the string and then parts of the string
example = "Data is fun!"
print(len(example))
print(example[0])
print(example[11])
print(example[2:5])

12
D
!
ta

## Exercise

Create a string called s1 that is equal to "All the world's a stage."
Use indexing to print each of the following on a separate line.

1. The third character from the left
2. The fifth character from the right
3. The second to eighth characters from the left

In [ ]:
# Type your Python code here

## Negative Indexing
One of the great things about Python is the flexible and varied ways you can reference different parts of data structures. An example is negative indexing. Negative indexing allows you to reference parts of a string starting from the right end rather than the left end.

Suppose you have a string st = "Hello"

You can reference the last element with st[4] or with st[-1]
You can reference the second to last element with st[3] or with st[-2]
You can reference the first element with st[0] or st[-5]

So instead of starting at the left with index 0, you can start at the right with index -1. This principle applies to data structures other than strings.

In [3]:
st = 'Hello'
print(st[4], st[-1])
print(st[3], st[-2])
print(st[0], st[-5])

o o
l l
H H

## Tuples

A tuple is a fixed, ordered sequence of elements. Tuples are immutable (so are strings). This means once you have declared a tuple, you can't change it or add or remove elements. Tuples use normal parentheses. Elements are separated by commas.

Format: (element1, element2, element3, ...)

Tuples can contain any datatype, including mixtures of datatypes and other tuples.

In [ ]:
# A tuple giving approximate latitude and longitude of Denver.
den = (39.7, -105)
# A tuple giving approximate lat/long of London, UK.
lon = (51.5, -0.14)
# Print the first element of the tuple den
print(den[0])
# Print the second element of the tuple lon
print(lon[1])
# If you add tuples, you get a new tuple with all the elements
print(den+lon)

## Exercise
1. Create a tuple *t* that contains the following elements in order:
    - The number 3.14
    - The boolean value True
    - The string "Wow!"
    - The tuple (1, 2)
2. Use the len function to find the length of the tuple.
3. Use indexing to print the 3rd element of the tuple.
4. Challenge: Use indexing to print the second element of the last element of the tuple t.

In [ ]:
t = (3.14, True, "Wow!", (1, 2))
print(len(t))
print(t[2])
print(t[3][1])

## Lists

A **list** is similar to a tuple. It is an ordered list of elements. You use square brackets \[ and \] to create a list. Like a tuple, lists can contain elements of any datatypes.

Unlike tuples, lists are mutable, so you can change, add or remove elements.

Format: \[element 1, element 2, element 3, ...\]

In [ ]:
# The following list contains the test scores of 6 students
L = [6, 4, 7, 8, 10, 4]
# Print the second test score
print(L[1])
# Print test scores 4-6
print(L[3:6])
# Change test score 3 to 5
L[2] = 5
print(L)
# Add a new test score of 9 onto the end of the list
L.append(9)
print(L)
# Sort the list from smallest to largest
L.sort()
print(L)
# Create a new list R that is initially empty
R = []
# Add the element 'howdy' to the list
R.append('howdy')
# Add the contents of the list L above to the list R
R.extend(L)
print(R)

## Exercise

1. Create a list called LS containing the elements 'p', 3.14, and False.
2. Add the number 47 as an element to the end of the list.
3. Print the second and third elements in the list.
4. Change the third element in the list to True.
5. Add the list \[0, -6, 5, 0\] as another element in the list.
6. Use indexing to print the 2nd element of the last element of the list

In [ ]:
LS = ['p', 3.14, False]
LS.append(47)
print(LS[1:3])
LS[2] = True
print(LS)
LS.append([0, -6, 5, 0])
print(LS[-1][1])

## Sets

A set is similar to a tuple or list. However:

- Order doesn't matter
- No individual element is repeated more than once

If you've come across the mathematical notion of a set, this is identical. Sets are about membership. Elements are either in a set or not.

S = {1, 2, 3}

T = {3, 4, 5, 4, 5,}

The set S above has three elements: 1, 2 and 3.
The set T also has three elements: 3, 4, 5

In [ ]:
# Run this code to see that both sets have exactly 3 elements.
S = {1, 2, 3}
T = {3, 4, 5, 4, 5}
print(S, T)

Like lists, sets have various operations you can perform to add or remove elements, etc.

In [ ]:
# Add the element 4 to the set S
S.add(4)
print(S)

In [ ]:
# Remove the element 2 from the set
S.remove(2)
print(S)

In [ ]:
# Return the set containing everything that is in S and T
print(S.intersection(T))
# Return the set containing everything that is in S and not in T
print(S.difference(T))

## Exercise

1. Create a set A containing the elements 0 and 1
2. Add the elements 2 and 3 to the set A and print the whole set.
3. Create a set B containing the elements 3, 4, 5 and 6.
4. Remove the element 6 from the set B and print the whole set.
5. Print the set elements that are in A and B.
6. Print the set of elements that are in B but not in A.

In [ ]:
# Solution
A = {0, 1}
A.add(2)
A.add(3)
print(A)
B = {3, 4, 5, 6}
B.remove(6)
print(B)
print(B.intersection(A)) # or print(A.intersect(B))
print(B.difference(A))

## Dictionaries

Let's go back to the train example from the start. If you wanted to store information about the location of an RTD train at a certain time, you might need to store:

- Train identifier
- Time and date
- longitude
- latitude

Here is one train (which we will call train 1):

- Identifier: A0213
- Time and date: 13\:53\:23 2025-12-10
- Latitude: 39.7
- Longitude: -105

We could store all this in a tuple or list, as long as the order remains consistent. Alternatively, we can use a dictionary with key-value pairs. Each key is like an index that you can use to look up a particular item.

train_1 = { 'ID':'A0213', 'DateTime': '13\:53\:23 2025-12-10', 'Lat':39.7, 'Long':-105 }

In [ ]:
# Create a dictionary containing information about train 1
train_1 = {'ID': 'A0213', 'DateTime':'13:53:23 2025-12-10', 'Lat':39.7, 'Long':-105}

In [ ]:
# Get the ID of train 1
train_1['ID']

In [ ]:
# Get the latitude of train 1
train_1['Lat']

In [ ]:
# Create a dictionary for train 2
train_2 = { 'ID': 'A0314', 'DateTime':'13:53:23 2025-12-10', 'Lat':40.1, 'Long':-103.2}
if (train_2['Lat']>train_1['Lat']):
    print("Train 2 is North of train 1")
if (train_1['Long']>train_2['Long']):
    print("Train 1 is East of train 2")

## Exercise
Create a dictionary for train 3 with the following properties:
ID = A0415
DateTime = '13:53:23 2025-12-10'
Lat = 40.2
Long = -104.2

Write an if-statement to check if train 3 is North of train 1, and a separate if-statement to
check is train 3 is North of train 2.

Challenge: Can you write some code that tells you which of the 3 trains is further North?