# Python Data Types

In this notebook, you will learn about the different fundamental data types in Python: `int`, `float`, `bool`, `str`.

## Storing Numbers
Numbers are a fundamental type of data. In Python, as in many programming languages, there are two basic types of numerical data:

- int - integers (whole numbers)
- float - floating point numbers, which allow for decimals

You can store a number in a **variable** with a name. For example, running the code below will store the numbers 3 and 4 in the variables x and y respectively. You use a single '=' symbol to assign a value to a variable. The last line prints the current values of x and y. Run the code below to see the output. Then change the values of x and y and run it again to see the new values printed.

In [ ]:
# Store values in the variables x and y and the print the values
x = 3
y = 4
print(x, y)

You can check the data type of a variable or expression by using the **type** command.

Run the code below to see what the data type is for the variable x. Then edit the code to check the data type of the variable y.

In [ ]:
# Check the data type of variable x
type(x)

We can also store floating point (decimal values) in a variable. The code below stores the
value 3.14 in the variable z.

In [ ]:
# Store the value 3.14 in the variable z
z = 3.14
print(z)

In [ ]:
# Use the type commmand type(z) to check the type of the variable z
type(z)

## Mathematical Operations

It's easy to perform basic mathematical operations on variables in Python. Here are some
common examples:

- x+y addition
- x-y subtraction
- x*y multiplication
- x/y division
- x**y exponentiation
- x//y integer division (returns a whole number)
- x%y modulo (remainder on integer division)

## Exercise 1
Below is the Python code that works out the result of x+y and then prints the value and checks the data type of the result.

Run the code. Then modify the code to print the result and type for subtraction, multiplication, division and all the other operations listed above. Do the same for x and z and compare how the data type of the result changes.

In [ ]:
# Store the result of x+y in a variable called result
result = x+y
print(result)
type(result)

## Data Type Handling and Casting

You will notice that you don't need to say what data type a variable or expression is. Python basically figures it out for you. For example, the product of an integer and an integer will be an integer and the product of an integer and a float will be a float.

Python has what is called **dynamic typing** which allows variables to change data type while the code runs. This generally allows for more flexible code but can also lead to runtime errors. An example of a programming language with stricter rules around data types (static typing) is Java.

In [ ]:
# The product of two integers is an integer
type(2*3)

In [ ]:
# The product of an integer and float is a float
type(2*3.0)

**Casting** is the term to describe converting a data type from one kind to another. To convert an integer x to a float, you would type the following:

In [ ]:
# Here x is an integer and y is a float, although they have the same numerical value.
# Note that when you print y you get a decimal number.
x = 2
y = float(x)
print(" The value of x is", x, "and x is a", type(x))
print(" The value of y is", y, "and y is a", type(y))

## Exercise 2

The code below uses the **int()** function to cast a float to an integer.

Run the code below and try to figure out what each line of code is doing. 

What is the data type of each of the variables pi, p0, p1 and p2? (You can use the **type()** command to check.)

In [ ]:
pi = 3.1415927
p0 = int(pi)
p1 = int(pi*10)/10
p2 = int(pi*100)/100
print(pi, p0, p1, p2)

## Boolean Data Type

A boolean data type has two values: **True** and **False**.

Boolean data types are essential in programming, because they allow computers to make decisions and execute different bits of code based on whether something is true or false. We will look more at this later.

*Note: In Python, the values True and False must be capitalized. Without the capital 'T' or 'F', Python won't understand what you mean.*

In [ ]:
p = True
q = False
print(p, q)
print("p is a ", type(p))
print("q is a ", type(q))

We can combine boolean variables to make more complicated boolean expressions whose values will be true or false depending on the values of the variables.

- p and q (True when p and q are both true, false otherwise)
- p or q (True when either p or q or both is true, false when both p and q are false)
- not p (True if p is false and false if p is true)

In [ ]:
# Print some basic boolean expressions
print(p and q)
print(p or q)
print(not p,  not q)

Boolean variables are used to evaluate expressions, for example checking to see if two variables are the same or one number is bigger than another. The datatype of the expression
`
3>4
`
is **bool** because this is a statement that evaluates to False.

Common boolean comparsions include:
- \>, <, >=, <= (greater than, less than, greater than or equal two, less than or equal too)
- == (equal to)
- != (not equal to)

Note that the equal to operator, '==' has two equal signs. This is to distinguish it from a single equal sign '=" which represents assignment. 

Run the code below to see some examples.

In [ ]:
# Prints False since 3 is not bigger than 4
print(3 > 4)
# Prints True as 4/2 is equal to 8/4. Note the double equals sign that is used to test for equality
print(4/2 == 8/4)
# Prints True as 12 is not equal to 3. Note that != is shorthand for not equal to. So 3!=2 is the same as not (3==2).
print(12 != 3)

## Exercise 3

The Python code below creates 3 boolean expressions and stores them in variables expr1, expr2 and expr3. Here are the expressions in words:

- expr1 is '4 is less than 5'
- expr2 is '3 is not equal to 4'
- expr3 id '9 is less than or equal to -3'

Write some code to print out the value of each of the following. Before writing the code for each question, try to figure out what the result of each printout will be.

1. First print out the value of expr1, expr2 and expr3.
2. Print the value of (expr1 and expr2).
3. Print the value of (expr2 or expr3).
4. Print the value of (expr1 and not(expr3))

In [ ]:
# Three boolean expressions
expr1 = (4 < 5)
expr2 = (3 != 4)
expr3 = (9 <= -3)

# Write your code below to print values of the expressions

In [ ]:
# Solution
# Prints True True False
print(expr1, expr2, expr3)

# Prints True
print(expr1 and expr2)

# Prints True
print(expr2 or expr3)

# Prints True
print(expr1 and not (expr3))

## If Statements

We can use an **if statement** to check if a boolean expression is True or False and then execute code accordingly.

Run the code below to see this in action. Then change the value of the variable **num** so that different code is executed. We will look at if statements in more details later in the course.

In [ ]:
num = 2
if num > 3:
    print("Number is bigger than 3")
else:
    print("Number is not bigger than 3")

## Strings

**String**, abbreviated **str**, is the fundamental data type for storing text: words, letters, symbols and individual characters. To help Python recognize strings, you must enclose them in either single or double quotation marks. Here are some examples of strings:

- "Hello"
- '1'
- "&"
- 'Able was I ere I saw Elba'


*Note: "Hello" and 'Hello' are equivalent. But you should use the same type of quote mark at the end that you used at the beginning.*

Run the code below to see some simple examples of string declarations.

In [ ]:
# Store the string "Hello" in the variable str1, print it out and check its type.
str1 = "Hello"
print(str1)
type(str1)

In [ ]:
# Store the string 'World' in the variable str1, print it out and check its type.
str2 = 'World'
print(str2)
type(str2)

## Operations on Strings

You can perform operations on strings such as concatenation (joining together), truncation (chopping bits off), or calculating the string's length.

In [ ]:
# Adding strings joins them together. This is called concatenation. To join strings, use the + symbol.
str3  = str1 + str2
print(str3)

In [ ]:
# The len() function tells you the length of the string (how many characters it has).
print(len("How long is a piece string?"))
print(len(str1), len(str2), len(str3))

## Indexing

Strings are arrays (ordered lists of characters). We can get parts of the string by using **indexing**. A part of a string is called a *substring*. For example, consider the following code:
```
my_str = "How long is a piece of string?"
print(my_str[2])
```

The first line stores a string in the variable `my_str`. The second line prints the character in position 2 in the string. In Python - as in many programming languages - we start counting with 0, so position 2 corresponds to the letter 'w' in my_str. We always us square brackets `[` and `]` in Python to reference parts of a string.

In [ ]:
# You can use indexing to reference parts of a string. In Python, indexes start at 0.

# Print the first character of str1
print(str1[0])
#Print the fifth character of str2
print(str2[4])
# Print the fourth to sixth character of str3
print(str3[3:6])

## Exercise 4

1. Create two strings called `s1` and `s2` where `s1 = 'straw'` and
`s2 = 'berries'`.
2. Create a third string called `s3` by joinning the two strings with the `+` operator.
3. Use the `len()` function to find the length of each of the three strings `s1`, `s2` and `s3`.
4. Use indexing to get the 2nd, 4th and 6th characters of `s3` and store these in a new string `s4`. (Hint: use the `+` operator to join the substrings together.)
5. Try printing `s4[::-1]`. What does this do to the string?

In [ ]:
# Type your code below

In [ ]:
# Solution to Exercise 4

# Define strings s1 and s2
s1 = 'straw'
s2 = 'berries'
s3 = s1+s2
print("s1 + s2 is", s3)

# Pring lengths of strings
print("Length of strings s1, s2 and s3:", len(s1), len(s2), len(s3))

# Create string 4 from substrings of s1, s2 and s3
s4 = s3[1]+s3[3]+s3[5]
print(s4)

# Printing s4[::-1] gives you the string s4 in reverse.
print(s4[::-1])

## Extension

These optional extension problems help to widen and deepen your knowledge and understanding of this topic. Make sure you are confident with the exercises above before attempting these.

1. Do some research about variable naming. What conventions are there for naming variables in Python? How do these conventions compare to other programming languages?
2. Define a string my_str with several characters (at least 10). Printing each of the following and see what you get. Explain how the indexing is being used to define the substring in each case.
  - my_str[0:8]
  - my_str[0:8:2]
  - my_str[-3]
  - my_str[8:2:-2]
3. What happens if you try to change a character in a string, for example: my_str[4] = '&'? Why doesn't this work?
4. Suppose you declare a variable `v1` to be an integer, for example `v1=3`. Suppose you declare a variable 'v2' to be a string representation of an integer, for example, `v2="12"`. What happens if you try to add/join these using the `+` operator? Try casting the `int` to a string before using `+` and then try casting the string to an `int` before using `+`. Explain what is going on.

In [ ]:
# Use this code block to work out any answers to the questions above.

In [ ]:
# Example Solution to 2
my_str = "Power corrupts"
# Print the first 8 characters with index 0 to 7
print("my_str[0:8]:", my_str[0:8])
# Print characters 0, 2, 4, 6
print("my_str[0:8:2]:", my_str[0:8:2])
# Print the 4th character from the end
print("my_str[-4]:", my_str[-4])
# Print the 9th, 7th, 5th and 3rd characters in that order
print("my_str[8:0;-2]:", my_str[8:0:-2])

In [ ]:
# Example Solution to 3
# The code below generates an error: 'str' object does not support item assignment.
my_str = "Absolute power corrupts absolutely"
my_str[4]='&'

# Explanation: strings are immutable. You cannot change them. This makes them different from other types of data like integers, floats and booleans.

In [ ]:
# Example Solution to 4
# The variable v1 below is an integer. The variable v2 is a string.
# Adding them using the '+' operator generates an error because they are incompatible data types.
v1 = 4
v2 = "12"
print(v1+v2)

In [ ]:
# Example Solution to 4 (continued)

# We can fix the error in two different ways. We can either cast the str to an int and add the integers, or cast the int to a string and join the strings.
# The results are different.

# Cast str to int and add to integers
print(v1+int(v2))

# Alternatively, cast int to str and concatenate the two strings

print(str(v1)+v2)