# Python Code Basics

In this notebook, we will cover some basic features of the Python language, including:

- Code sequencing
- Conditional statements (branching)
- Loops
- Functions
- Objects and classes

These features are fundamental to most programming languages, although the syntax for different languages will differ. This isn't a programming course, so you are not expected to have a *deep* understanding of Python coding, but familiarity with some key features of Python coding will help you a lot.

## Code Sequencing
This just means that, absent any other instructions, lines of code get executed in order, one after another. 

For example, look at the code below:
```
x = 3
print(x)
x = x + 1
print(x)
```
Here the lines of code get executed in order. The variable `x` is given the value `3` first. Then the value of `x` is printed. Then `1` is added to the value of `x` and the new value `4` is printed.

There is not much more to say about sequencing, but it is worth bearing in mind that when you are runnning Python code in cells, all of the previously run code will apply, unless you restart the **kernel**. The kernel is basically the program that takes your lines of code and executes them on the server, retuning any output to your notebook.

## Conditional statements

One reason why computers are powerful is because they can make decisions based on inputs. Decisions are made based on whether a boolean expression evaluates to `True` or `False`. Which lines of code are executed are conditional on the value of the boolean expression. This is called **branching**. The code below illustrates this using an `if-else` statement format in Python.

Run the code below. It's best to try it multiple times with different inputs, to understand what is happening.

In [1]:
# This code takes some input from the user and checks to see if it is less than 5
# or 5 or more
x = int(input("Enter a whole number from 1 to 10: "))
if (x < 5):
    print("The number you entered is less than 5")
else:
    print("The number your entered is greater than or equal to 5")
print("Done.")

Enter a whole number from 1 to 10:  8

The number your entered is greater than or equal to 5
Done.

There are a couple of things to note about the code example above:

- The indentation of the first two print statements is a requirement. This is a key feature of Python as a language.
- The else part of the statement is optional
- The final print statement is executed whatever the value of *x* is. This is because it is outside the *if-else* block as it is not indented.

## If-elif-else

An *if-elif-else* statement allows to check multiple cases in one statement.

Format:
```
if (expression1):
  <code to execute if expression1 is true>
elif (expression2):
  <code to execute if expression2 is true but expression1 is not>
else:
  <code to execute if neither expression1 nor expression2 is true>
```
For example, the code below checks first if your name is Bob, then if it is Mary, and if neither, executes a different segment of code. In Python, *elif* is an abbreviation of *else-if*. You can have more than one *elif* block. Try running the code with Bob, Mary and a different name.

In [6]:
name = input("Please type your name and hit enter. ")
if (name == 'Bob'):
    print("Hello Bob! Good to see you again.")
elif (name == 'Mary'):
    print("Hi Mary. Long time no see!")
else:
    print("Hi "+name+". I don't believe we've met.")

Please type your name and hit enter. Mary
Hi Mary. Long time no see!

## Exercise

Write some code that gets a number from the user. If the number is less than 0, print "Negative". If it is more than 0, print "Positive". If it equals 0, print "Zero". The first line is written for you.

In [ ]:
#Type your code below.
num = float(input("Please enter a number, which can be positive, negative, or zero."))

Please enter a number, which can be positive, negative, or zero. 3.4

3.4

In [ ]:
# @title Solution
num = float(input("Please enter a number, which can be positive, negative, or zero."))
if (num < 0):
    print("Negative")
elif (num > 0):
    print("Positive")
else:
    print("Zero")

## Loops

Loops are another powerful feature of all programming languages. Loops allow you to repeat
a block of code many times, possible for a fixed number or iterations, or for an indefinite number of
iterations.

The code below illustrates for-loops which use a fixed number of iterations.

In the code below, range(10) represents the ordered list of numbers from 0 to 9 inclusive.

In [ ]:
# Print the numbers 0-9 in order
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Print the squares of the numbers 2-7 in order
# Here range(2, 8) represents the order list of numbers from 2 to 7 inclusive.
for num in range(2, 8):
    print(num**2)

4
9
16
25
36
49

In [ ]:
# In this example, rather than using the range function, the for loop iterates through a list
# Work out the numerical average (mean) of the numbers in a list
num_list = [2, 4, 5, 7, 6, 10, 9]
sum = 0
for num in num_list:
    sum = sum + num
print("The mean is", sum/len(num_list))

The mean is 6.142857142857143

## Exercise

1. Write a for loop that prints out 2 times every number from 0 to 9.
2. Write a for loop that iterates through a pre-defined list of 3 numbers and calculates the sum of the numbers in the list
3. (Challenge) Write a for loop that lets you input three numbers and tells you the average.

In [ ]:
# Solution 1
for x in range(10):
    print(x*2)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# Solution 2
num_list = [4, 7, 25]
sum = 0
for num in num_list:
    sum = sum + num
print("The sum is", sum)

The sum is 36

In [ ]:
# Solution 3
sum = 0
for x in range(3):
    num = float(input("Please enter a number"))
    sum = sum + num
print("The average is: ", sum/3)

Please enter a number 4
Please enter a number 1
Please enter a number 7

The average is:  4.0

## While loops

Sometimes you want to execute code until a certain condition is meet, without knowing in advance when that condition will be met.

For example, you may want to iterate through a list until you find a particular value.

In [10]:
name_list = ['Julia', 'Bob', 'Mary', 'Juan', 'Elijah', 'Abdul']
name = name_list[0]
count = 0
while name !='Elijah':
    name = name_list[count]
    count+=1
print("The name Elijah was found in index position",count-1)

The name Elijah was found in index position 4

## Other Features of Loops

Loops have lots of features and variations, some of which we will cover below. But fundamentally
there are two types of loop in Python: for loops and while loops. When deciding which to use, consider
the following:

- If you know at the start how many times you need to repeat the loop, use a for loop.
- If you don't know exactly when the terminating condition will be met, use a while loop.

Bear in mind that if a terminating condition is never met, the code execution will get stuck in
an 'infinite loop'.

### Break Statement

The **break** statement lets you jump out of a loop early. The two code examples below do the same thing.

In [ ]:
# Although the for loop is set to go through numbers 0-9, it quits at 3
# due to the break statement
for x in range(10):
    print("Current number is", x)
    if x == 3:
        print("Got to 3")
        break
print("Done.")

Current number is 0
Current number is 1
Current number is 2
Current number is 3
Got to 3
Done.

In [ ]:
# This code does exactly the same as the above, but using a while loop
x = 0
while x<10:
    print("Current number is", x)
    if x == 3:
        print("Got to 3")
        break
    x = x + 1
print("Done.")

Current number is 0
Current number is 1
Current number is 2
Current number is 3
Got to 3
Done.

### Increment Size

Suppose you wanted to print out every even number from 0 to 10. In this case, you could use a for loop
that increments every time by 2 rather than by 1, which is the default.

Format: for x in range(start, end, step):

Note: in the format above, the 'start' value is included, and the 'end' value is not included in the range.

Run the code below to see the output and then see if you can modify it to print all multiples of 3
from 0 to 12 (inclusive).

In [ ]:
# Print out every even number from 0 to 10
for x in range(0, 11, 2):
    print(x)

0
2
4
6
8
10

## Functions

Functions are an essential feature of every programming language. They enable you to
create reusable blocks of code that you can call from other places in your code.

Functions need to have a name like variables. They can also take arguments (inputs) that
give them more details about what to do. Functions can also return values using the **return**
keyword.

To define a function, use the **def** keyword.

In [ ]:
# The function Greet is defined in the next two lines
def Greet(name):
    print("Hi "+name+". Nice to meet you!")

# The following 3 lines call the function with three different arguments.
Greet("Anna")
Greet("Bob")
Greet("Charlie")

Hi Anna. Nice to meet you!
Hi Bob. Nice to meet you!
Hi Charlie. Nice to meet you!

In [ ]:
# The following function returns a value. In this case it is a boolean
# that tells you whether the number passed as an argument is even (True) or
# odd (False)

def IsEven(num):
    if num % 2 == 0:
        return True
    else:
        return False

# Here are some calls to this function
print(IsEven(12))
print(IsEven(13))
print(IsEven(3.14))

True
False
False

## Exercise

Create a function called **Square** that takes a number and returns the number squared.
For example, calling the function Square(2) should return 4.


**Challenge**: Create a function called Collatz that takes an integer argument. If the number is is even,
the function should return the number divided by 2. If the number is odd, the function should return
the number times 3 plus 1.

For example, Collatz(16) should return 8, but Collatz(15) should return 46.

## Objects and Classes

Starting in the 1960s and 1970s, a movement began in computer science called 'object-oriented programming.' The idea behind OOP was to make computer programs more structured, robust and manageable, avoiding what is know as 'spaghetti code.' The movement really took off in the 1980s and 1990s with the adoption of C++, Java and other widely-used languages.

OOP aims make code more structured and manageable buy using objects which combine related data and functions into a single entity, known as an object. The template for an object is a class.

To illustrate this, lets go back to our train example. To keep things simple well will focus on the three attributes below:

- Train identifier
- longitude
- latitude

The code to create a train class is shown below. You should think of a class as the template or blueprint for an object.

In [ ]:
# The class train is defined below. It has 3 attributes, a constructor and two methods.
class Train:
    # This function __init__ is called a constructor. It allows you to set the initial values of an object when it is created
    def __init__(self, ID, lat, long):
        self.ID = ID
        self.lat = lat
        self.long = long
    # This method prints the current attributes of the object
    def show_info(self):
        print("Details for this train:", self.ID, self.lat, self. long)
    # This method increases the value of lat by an angle equivalent to mile, so effectively moves the position north 1 mile.
    def move_north(self, miles):
        self.lat = self.lat + miles/69 # 1 mile is about 1/69th of a degree

Now we have created a class, we can make an particular instance of that class. This instance is an object.

In [ ]:
# Create an instance of the class Train called train 1
train1 = Train('A0213', 39.7, -105)
# Print the attributes of the train
train1.show_info()
# Use the move_north() method to move the train 10 miles north
train1.move_north(10)
print("New latitude:", train1.lat)

Details for this train: A0213 39.7 -105
New latitude: 39.844927536231886

Once you have a class, you can create as many instances of that class as you like, up to the limits of the operating system memory!

In [ ]:
# Create a few more train objects
train2 = Train('A0417', 32.4, 0)
train3 = Train('A0512', 38.3, -104.2)
train2.show_info()
train3.show_info()

Details for this train: A0417 32.4 0
Details for this train: A0512 38.3 -104.2

## Exercise

Create a class for an aircraft. It should have the following attributes:

- Identifier (as a string)
- altitude (as a float in m)
- speed (as a float in mph)

Include a constructor that allows you to set the 5 attributes for a new object when you create it.
Include a method called descend that takes an argument height (in m) that lowers the altitude by that number of feet.
Create an instance of the Aircraft class, called **plane1** with the following initial attributes:

- ID = 'BAW219'
- altitude = 11500
- speed = 559

If you prefer, try getting the live values for this flight from here: https://www.flightaware.com/live/flight/BAW219

Use the descend method to lower plane1's altitude by 500 meters.

In [ ]:
# Solution
class Aircraft:
    def __init__(self, ID, altitude, speed):
        self.ID = ID
        self.altitude = altitude
        self.speed = speed
    def descend(self, height):
        self.altitude = self.altitude - height
plane1 = Aircraft('BAW219', 11500, 559)
plane1.descend(500)
print(plane1.altitude)

11000