# Python Data Types

In this notebook, you will learn about the different fundamental data types in Python: **int**, **float**, **bool**, **str**.

## Storing Numbers
Numbers are a fundamental type of data. In Python, as in many programming languages, there are two basic types of numerical data:

- int - integers (whole numbers)
- float - floating point numbers, which allow for decimals

You can store a number in a **variable** with a name. For example, running the code below will store the numbers 3 and 4 in the variables x and y respectively. You use a single '=' symbol to assign a value to a variable. The last line prints the current values of x and y. Run the code below to see the output.

In [ ]:
# Store values in the variables x and y and the print the values
x = 3
y = 4
print(x, y)

3 4

You can check the data type of a variable or expression by using the **type** command.

Run the code below to see what the data type is for the variable x. Then edit the code to check the data type of the variable y.

In [ ]:
# Check the data type of variable x
type(x)

int

We can also store floating point (decimal values) in a variable. The code below stores the
value 3.14 in the variable z.

In [ ]:
# Store the value 3.14 in the variable z
z = 3.14
print(z)

3.14

In [ ]:
# Use the type commmand type(z) to check the type of the variable z
type(z)

float

## Mathematical Operations

It's easy to perform basic mathematical operations on variables in Python. Here are some
common examples:

- x+y addition
- x-y subtraction
- x*y multiplication
- x/y division
- x**y exponentiation
- x//y integer division (returns a whole number)
- x%y modulo (remainder on integer division)

### Exercise
Below is the Python code that works out the result of x+y and then prints the value and checks the data type of the result.

Run the code. Then modify the code to print the result and type for subtraction, multiplication, division and all the other operations listed above. Do the same for x and z and compare how the data type of the result changes.

In [ ]:
# Store the result of x+y in a variable called result
result = x+y
print(result)
type(result)

7

int

# Datatype Handling and Casting

You will notice that you don't need to say what data type a variable or expression is. Python basically figures it out for you. For example, the product of an integer and an integer will be an integer and the product of an integer and a float will be a float.

Python has what is called **dynamic typing** which allows variables to change data type while the code runs. This generally allows for more flexible code but can also lead to runtime errors. An example of a programming language with stricter rules around data types (static typing) is Java.

In [ ]:
# The product of two integers is an integer
type(2*3)

int

In [ ]:
# The product of an integer and float is a float
type(2*3.0)

float

**Casting** is the term to describe converting a data type from one kind to another. To convert an integer x to a float, you would type the following:

In [ ]:
# Here x is an integer and y is a float, although they have the same numerical value.
# Note that when you print y you get a decimal number.
x = 2
y = float(x)
print(" The value of x is", x, "and x is a", type(x))
print(" The value of y is", y, "and y is a", type(y))

 The value of x is 2 and x is a <class 'int'>
 The value of y is 2.0 and y is a <class 'float'>

## Exercise

The code below uses the **int()** function to cast a float to an integer.

Run the code below and try to figure out what is going on.

What is the data type of each of the variables pi, p0, p1 and p2?

In [ ]:
pi = 3.1415927
p0 = int(pi)
p1 = int(pi*10)/10
p2 = int(pi*100)/100
print(pi, p0, p1, p2)

3.1415927 3 3.1 3.14

# Boolean Data Type

A boolean data type has two values: **True** and **False**.

Boolean data types are essential in programming, because it allows computers to make decisions and execute different bits of code based on whether something is true or false. We will look more at this later.

*Note: In Python, the values True and False must be capitalized. Without the capital 'T' or 'F', Python won't understand what you mean.*

In [ ]:
p = True
q = False
print(p, q)
print("p is a ", type(p))
print("q is a ", type(q))

True False
p is a  <class 'bool'>
q is a  <class 'bool'>

We can combine boolean variables to make more complicated boolean expressions whose values will be true or false depending on the values of the variables.

- p and q (True when p and q are both true, false otherwise)
- p or q (True when either p or q or both is true, false when both p and q are false)
- not p (True if p is false and false if p is true)

In [ ]:
# Print some basic boolean expressions
print(p and q)
print(p or q)
print(not p,  not q)

False
True
False True

Boolean variables are used to evaluate expressions, for example checking to see if two variables are the same or one number is bigger than another.

In [ ]:
# Prints False since 3 is not bigger than 4
print(3>4)
# Prints True as 4/2 is equal to 8/4. Note the double equals sign that is used to test for equality
print(4/2 == 8/4)
# Prints True as 12 is not equal to 3. Note that != is shorthand for not equal to. So 3!=2 is the same as not (3==2).
print(12 != 3)

False
True
True

## Exercise

The Python code below creates 3 boolean expressions and stores them in variables expr1, expr2 and expr3. Here are the expressions in words:

- expr1 is '4 is less than 5'
- expr2 is '3 is not equal to 4'
- expr3 id '9 is less than or equal to -3'

Write some code to print out the value of each of the following. Before writing the code for each question, try to figure out what the result of each printout will be.

1. First print out the value of expr1, expr2 and expr3.
2. Print the value of (expr1 and expr2).
3. Print the value of (expr2 or expr3).
4. Print the value of (expr1 and not(expr3))

In [28]:
# Three boolean expressions
expr1 = (4 < 5)
expr2 = (3 != 4)
expr3 = (9 <= -3)

# If Statements

We can use an **if statement** to check if a boolean expression is True or False and then execute code accordingly. Run the code below to see this in action. Then change the value of the variable num so that different code is executed. We'll look at if statements in more details later in the course.

In [29]:
num = 2
if num > 3:
    print("Number is bigger than 3")
else:
    print("Number is not bigger than 3")

Number is not bigger than 3

# Strings

**String**, abbreviated **str**, is the fundamental data type for storing text: words, letters, symbols and individual characters. To help Python recognize strings, you must enclose them in either single or double quotation marks. Here are some examples of strings:

- "Hello"
- '1'
- "&"
- 'Able was I ere I saw Elba'


*Note: "Hello" and 'Hello' are equivalent. But you can't mix single and double quotes in one string.*

Run the code below to see some simple examples of string declarations.

In [30]:
# Store the string "Hello" in the variable str1, print it out and check its type.
str1 = "Hello"
print(str1)
type(str1)

Hello

str

In [31]:
# Store the string "World" in the variable str1, print it out and check its type.
str2 = 'World'
print(str2)
type(str2)

World

str

## Operations on Strings

You can perform operations on strings such as concatenation (joining together), truncation (chopping bits off), or calculating the string's length.

In [34]:
# Adding strings joins them together. This is called concatenation. To join strings, use the + symbol.
str3  = str1 + str2
print(str3)

HelloWorld

In [ ]:
# The len() function tells you the length of the string (how many characters it has).
print(len(str1), len(str2), len(str3))

5 5 10

In [36]:
# You can use indexing to reference parts of a string. In Python, indexes start at 0.

# Print the first character of str1
print(str1[0])
#Print the fifth character of str2
print(str2[4])
# Print the fourth to sixth character of str3
print(str3[3:6])

H
d
loW

In [38]:
# The variable n1 below is an integer. The variable n2 is a string. What happens if you try to add them?
n1 = 4
n2 = "12"
print(n1+n2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
# The code above generated an error because the data types were different. We can fix that in two different ways.

# Cast str to int and add to integers
print(n1+int(n2))

# Alternatively, cast int to str and concatenate the two strings

print(str(n1)+n2)

16
412

## Exercise

1. Create two strings called s1 and s2 where s1 = 'straw' and
s2 = 'berries'.
2. Create a third string called s3 by joinning the two strings with the + operator.
3. Use the len() function to find the length of each of the three strings s1, s2 and s3.
4. Use indexing to get the 3rd, 4th and 5th characters of s1 and store these in a new string s4.
5. Try printing s4[::-1]. What does this do to the string?

In [55]:
# Define strings s1 and s2
s1 = 'straw'
s2 = 'berries'
s3 = s1+s2
print(s3)

strawberries

In [56]:
len(s1)

5

In [57]:
len(s2)

7

In [58]:
len(s3)

12

In [59]:
s4 = s1[2:5]

In [60]:
print(s4)

raw

In [61]:
print(s4[::-1])

war

## Extension

1. Do some research about variable naming. What conventions are there for naming variables in Python? How do these conventions compare to other programming languages?
2. Define a string my_str with several characters (at least 10). Try printing each of the following and see what you get.
  - my_str[0:8]
  - my_str[0:8:2]
  - my_str[-3]
  - my_str[8:2:-2]
3. What happens if you try to change a character in a string, for example: my_str[4] = 'X'? Why doesn't this work?

In [74]:
# Solution to 2
my_str = "Power corrupts"
# Print the first 8 characters with index 0 to 7
print("my_str[0:8]:", my_str[0:8])
# Print characters 0, 2, 4, 6
print("my_str[0:8:2]:", my_str[0:8:2])
# Print the 4th character from the end
print("my_str[-4]:", my_str[-4])
# Print the 9th, 7th, 5th and 3rd characters in that order
print("my_str[8:0;-2]:", my_str[8:0:-2])

my_str[0:8]: Power co
my_str[0:8:2]: Pwrc
my_str[-4]: u
my_str[8:0;-2]: rcrw

In [63]:
len(my_str)

14

In [64]:
my_str[0:8]

'Power co'

In [65]:
my_str[0:8:2]

'Pwrc'

In [66]:
my_str[-4]

'u'

In [68]:
my_str[8:0:-2]

'rcrw'