# Python Data Types

In this notebook, you will learn about the different fundamental data types in Python: **int**, **float**, **bool**, **str**.

## Storing Numbers
Numbers are a fundamental type of data. In Python, as in many programming languages, there are two basic types of numerical data:

- int - integers (whole numbers)
- float - floating point numbers, which allow for decimals

You can store a number in a **variable** with a name. For example, running the code below will store the numbers 3 and 4 in the variables x and y respectively. You use a single '=' symbol to assign a value to a variable. The last line prints the current values of x and y. Run the code below to see the output.

In [1]:
# Store values in the variables x and y and the print the values
x = 3
y = 4
print(x, y)

3 4

You can check the data type of a variable or expression by using the **type** command.

Run the code below to see what the data type is for the variable x. Then edit the code to check the data type of the variable y.

In [4]:
# Check the data type of variable x
type(x)

int

We can also store floating point (decimal values) in a variable. The code below stores the
value 3.14 in the variable z.

In [5]:
# Store the value 3.14 in the variable z
z = 3.14
print(z)

3.14

In [6]:
# Use the type commmand type(z) to check the type of the variable z
type(z)

float

## Mathematical Operations

It's easy to perform basic mathematical operations on variables in Python. Here are some
common examples:

- x+y addition
- x-y subtraction
- x*y multiplication
- x/y division
- x**y exponentiation
- x//y integer division (returns a whole number)
- x%y modulo (remainder on integer division)

### Exercise
Below is the Python code that works out the result of x+y and then prints the value and checks the data type of the result.

Run the code. Then modify the code to print the result and type for subtraction, multiplication, division and all the other operations listed above. Do the same for x and z and compare how the data type of the result changes.

In [7]:
# Store the result of x+y in a variable called result
result = x+y
print(result)
type(result)

7

int

# Datatype Handling and Casting

You will notice that you don't need to say what data type a variable or expression is. Python basically figures it out for you. For example, the product of an integer and an integer will be an integer and the product of an integer and a float will be a float.

Python has what is called **dynamic typing** which allows variables to change data type while the code runs. This generally allows for more flexible code but can also lead to runtime errors. An example of a programming language with stricter rules around data types (static typing) is Java.

In [9]:
# The product of two integers is an integer
type(2*3)

int

In [10]:
# The product of an integer and float is a float
type(2*3.0)

float

**Casting** is the term to describe converting a data type from one kind to another. To convert an integer x to a float, you would type the following:

In [14]:
# Here x is an integer and y is a float, although they have the same numerical value.
# Note that when you print y you get a decimal number.
x = 2
y = float(x)
print(" The value of x is", x, "and x is a", type(x))
print(" The value of y is", y, "and y is a", type(y))

 The value of x is 2 and x is a <class 'int'>
 The value of y is 2.0 and y is a <class 'float'>

## Exercise

The code below uses the **int()** function to cast a float to an integer.

Run the code below and try to figure out what is going on.

What is the data type of each of the variables pi, p0, p1 and p2?

In [21]:
pi = 3.1415927
p0 = int(pi)
p1 = int(pi*10)/10
p2 = int(pi*100)/100
print(pi, p0, p1, p2)

3.1415927 3 3.1 3.14

# Boolean Data Type

A boolean data type has two values: **True** and **False**.

Boolean data types are essential in programming, because it allows computers to make decisions and execute different bits of code based on whether something is true or false. We will look more at this later.

*Note: In Python, the values True and False must be capitalized. Without the capital 'T' or 'F', Python won't understand what you mean.*

In [23]:
p = True
q = False
print(p, q)
print("p is a ", type(p))
print("q is a ", type(q))

True False
p is a  <class 'bool'>
q is a  <class 'bool'>

We can combine boolean variables to make more complicated boolean expressions whose values will be true or false depending on the values of the variables.

- p and q (True when p and q are both true, false otherwise)
- p or q (True when either p or q or both is true, false when both p and q are false)
- not p (True if p is false and false if p is true)

In [24]:
# Print some basic boolean expressions
print(p and q)
print(p or q)
print(not p,  not q)

False
True
False True

Boolean variables are used to evaluate expressions, for example checking to see if two variables are the same or one number is bigger than another.

In [ ]:
# Prints False since 3 is not bigger than 4
print(3>4)
# Prints True as 4/2 is equal to 8/4. Note the double equals sign that is used to test for equality
print(4/2 == 8/4)
# Prints True as 12 is not equal to 3. Note that != is shorthand for not equal to. So 3!=2 is the same as not (3==2).
print(12 != 3)

False
True
True

In [27]:
stmt1 = (4 < 5)
stmt2 = (3 != 4)
stmt3 = (9 <= -3)
print(stmt1, stmt2, stmt3)

True True False

# If Statements

We can use an if statement to check if a boolean expression is True or False and then execute code accordingly. Run the code below to see this in action. Then change the value of the variable
num so that different code is executed.

In [ ]:
num = 2
if num > 3:
    print("Number is bigger than 3")
else:
    print("Number is not bigger than 3")

Number is not bigger than 3

# Strings

**String**, abbreviated **str**, is the fundamental datatype for storing text: words, letters, symbols and individual characters. To help Python recognize strings, you must enclose them in either single or double quotation marks. Here are some examples of strings:

- "Hello"
- '1'
- "&"
- 'Able was I ere I saw Elba'

Run the code below to see some simple examples of string declarations.

In [ ]:
str1 = "Hello"
print(str1)
type(str1)

Hello
<class 'str'>

In [ ]:
str2 = 'World'
print(str2)
type(str2)

World

str

## Operations on Strings

You can perform operations on strings such as concatenation (joining together), truncation (chopping bits off), or calculating the string's length.

In [ ]:
# Adding strings joins them together. This is called concatenation
str3  = str1 + str2
print(str3)

HelloWorld

In [ ]:
# The len() function tells you the length of the string - how many characters
print(len(str1), len(str2), len(str3))

5 5 10

In [ ]:
# You can use indexing to reference parts of a string.
# In Python, indexes start at 0.
print(str1[0])
print(str2[4])
print(str3[3:6])

H
d
loW